* {
	margin: 0 auto;
	text-align: center;

}

div {
	margin: 0 auto;
	text-align: center;
}

table { 
	border-collapse: collapse;
	text-align: center; 
	width: 70%; 
} 

table td, table th { 
	padding: 8px 6px; 
}
table thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
	background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
	background-color:#545454; 
	color:#FFFFFF; 
	font-size: 11px; 
	font-weight: bold; 
	border-left: 1px solid #0070A8; 
} 

table thead th:first-child { 
	border: none; 
	}
table tbody td { 
	color: #00557F; 
	border-left: 1px solid #E1EEF4;
	font-size: 14px;
	font-weight: normal; 
}

table tbody .alt td { 
	background: #E1EEf4; 
	color: #00557F; 
}

table tbody td:first-child { 
border-left: none; 
}

table tbody tr:last-child td { 
	border-bottom: none; 
}


table tr:nth-child(even) {
    background-color: #eee;
}
 
table tr:nth-child(odd) {
    background-color: #fff;
}


.th_question {
	
	background-color: #9AC3F6;
}

.tr_criteria{
	background-color: #CFE9F4; 
}