/**********File Inputs**********/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 300px;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
	padding: 0.625rem 1.25rem;
}

.inputfile+label svg {
	width: 1em;
	height: 1em;
	vertical-align: middle;
	fill: currentColor;
	margin-top: -0.25em;
	margin-right: 0.25em;
}

.iclearinputfile {
	font-size:1em; 
	font-weight:normal;
	font-weight: 700;
	color: #0e5376;
}

/* style 1 */

.inputfile-1 + label {
    color: #0e5376;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
	/* background-color: rgba(0,0,0,.3); */
}

img.iclearinputfile{
	width: 80px;
}

/**********End File Inputs**********/