@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

#head_row{
	border: 1px solid blue;
}

html {
	background-color: #4F4C4D;
}
body {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
}

#divDataTable{
	margin-top: 5px;
}
div.encabezado{

	background-color: #E2E2E2; 
}

#titulo{
	max-width: 55%;
	margin: auto;
}

#logos{
	max-width: 100%;
}

footer {
            color: white;
            position: absolute;
            height: 40px;
            padding:5px 0px;
            clear: both;
            background: #4F4C4D;
            text-align: left;
            font-size: 10px;
            display: inline-block;
            width: auto;
    
        }	

.footer{
	display: inline;
}

.dataTables_wrapper{
	width: 90%;
	margin: auto;
	}

.menu ul{
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}

.menu li:hover{
	background: rgba(0,0,0,0.3); 
}

.menu li a{
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}


.iconos{
	color: white;
	margin-top: 10px;
	margin-right: 20px;
	display: inline-block;
	font-size: 25px;
	float: right;
}


.menu_bar{
	background-color: #CB2C30;
	height: 50px;
}

#logo_ugr {
	
background: rgba(232,233,233,0.81);
background: -moz-linear-gradient(top, rgba(232,233,233,0.81) 0%, rgba(145,153,149,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(232,233,233,0.81)), color-stop(100%, rgba(145,153,149,1)));
background: -webkit-linear-gradient(top, rgba(232,233,233,0.81) 0%, rgba(145,153,149,1) 100%);
background: -o-linear-gradient(top, rgba(232,233,233,0.81) 0%, rgba(145,153,149,1) 100%);
background: -ms-linear-gradient(top, rgba(232,233,233,0.81) 0%, rgba(145,153,149,1) 100%);
background: linear-gradient(to bottom, rgba(232,233,233,0.81) 0%, rgba(145,153,149,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e9e9', endColorstr='#919995', GradientType=0 );

padding: 5px;
	
}

.left{
	display: inline-block;
	float: left;
}

.right{
	display: inline-block;
	float: right;
}

.options_bar{
    margin: 0 auto;
    max-width: 90%;
}


.col_2{
	max-width:350px;
}

#bloque {
	width: 30%;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 25px;
	border: 1px solid #F40303;
}

table#levels {
    /*border: 1px solid #000;*/
    width: 90%;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 5px;
		
}


#preguntas{
	text-align: left;
}
#score{
	min-width: 80px;	
}


.level1 {
	
	background-color: #FFB6AE;
/*	background-color: rgba(139,0,0,.6);*/
	font: bold;
}
.level2 {
	background-color: #FFE1AE;
/*	background-color: rgba(255,0,0,.6);*/
		font: bold;
}
.level3 {
	background-color: #FFF4E1;
/*	background-color: rgba(255,165,0,.6);*/
	font: bold;
}

.level4 {
	background-color: #FDFEE0;
/*	background-color: rgba(255,255,0,.6);*/
	font: bold;
}

.level5 {
	background-color: #FAFCAF;
/*	background-color: rgba(173,255,47,.6);*/
	font: bold;
}

.level6 {
	background-color: #DCF9E4;
/*	background-color: rgba(124,252,0,.6);*/
	font: bold;
}

.level7 {
	background-color: #B0F2C2;
/*	background-color: rgba(0,128,0,.6);*/
	font: bold;
}


.texto_sombra{
	color: #1B0B7C;

}



input#rango {
    width: 80%;
}
.hidden {
	display: none;
}

