* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #efefef;
}

main>* {
    align-items: center;
    display: flex;
    font-size: 1em;
    justify-content: center;
}

/*Header with logo and menu below*/

main.main_index {
    background-color: #efefef;
    display: grid;
    grid-gap: 0px;
    grid-template-areas: "page_menu" "header_grid" "content_grid" "footer_grid";
    grid-template-columns: 1fr;
	/* grid-template-rows: 50px 140px auto 60px;  */
	grid-template-rows: 50fr 140fr auto 40fr;
    height: 100vh;
}

/*Header with text and top menu */

main.main_internal {
    background-color: #efefef;
    display: grid;
    grid-gap: 0px;
    grid-template-areas: "header_grid" "page_menu" "show_result" "content_grid" "footer_grid";
    grid-template-columns: 1fr;
	grid-template-rows: 90px 50px max-content auto 61px;
    height: 99.95vh;
}

/********************/

/***Navigation bar***/

/********************/

nav#nav_bar {
    grid-area: page_menu;
    display: grid;
    background-color: #0e5376;
    justify-content: flex-end;
    width: auto;
    /*border-radius: 15px;*/
    font-family: 'Open Sans', Helvetica, sans-serif;
    background: #0e5376;
    background: -o-linear-gradient(top, #1079ad, #135b80);
    background: -ms-linear-gradient(top, #1079ad, #135b80);
    background: -webkit-linear-gradient(top, #1079ad, #135b80);
    background: -moz-linear-gradient(top, #1079ad, #135b80);
    background: linear-gradient(to bottom, #1079ad, #135b80);
    box-shadow: inset 0 -3px 0 #484848, inset 0 -3px 3px #484848, inset 0 2px 2px #b2b2b2, inset 1px 0 2px #484848, inset -1px 0 2px #b2b2b2, 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06), 0 3px 3px rgba(0, 0, 0, 0.17), 2px 1px 2px rgba(0, 0, 0, 0.05), -2px 1px 2px rgba(0, 0, 0, 0.05);
    height: 50px;
    grid-template-areas: "tools_menu page_menu";
    grid-template-columns: minmax(0%, 100%);
    z-index: 1;
}

.options_bar>p {
    margin: 15px;
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.menu li.li_menu:hover {
    background: rgba(0, 0, 0, 0.3);
}

ul.ul_menu {
    background-color: #0e5376;
    cursor: pointer;
}

/********************/

/***Headers Styles***/

/********************/

header.header_index {
    grid-area: header_grid; 
    background-color: #efefef;
    color: white;
}

header.header_internal {
    background-color: #dfeff7;
}

#logo_tool {
    width: 85%;
    display: inline;
    text-align: center;
}

#logo,
#title {
    width: 80%;
    text-align: center;
    color: white;
    font-size: 1.5em;
}

.subtitle,
.subsubtitle,
.label_check {
    color: #fff;
    text-shadow: 2px 2px #aaaaaa;
    font-size: 1.5em;
}

.subsubtitle {
    font-size: 1em;
    color: #035376;
    text-shadow: 1px 1px #aaaaaa;
}

h2.text_error,
h2.subtitle {
    color: #035376;
    text-shadow: 2px 2px #aaaaaa;
    text-align: center;
}

.label_check {
    font-size: 1em;
    display: inline;
    padding-left: 5px;
}

/********************/

/***Content Styles***/

/********************/

section:first-of-type {
    grid-area: content_grid;
    width: 80%;
    z-index: 0;
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
}

.main_content {
    margin: 0px;
}

#show_result {
    grid-area: show_result;
}

/**Index_page**/

p.p_text {
    padding: 0px 0px 15px 0px;
    font-size: 14px;
    text-align: justify;
}

/**Import page**/

#content_import {
    display: grid;
    grid-template-areas: "instruction instruction instruction" " dimension responses description" "use_h_res use_h_dim use_h_des" "iteration_sel import_btn reset_btn";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px 250px 60px 60px;
    text-align: center;
    background-color: #0e5376;
    background: #1079ad;
    background: -o-linear-gradient(top, #1079ad, #135b80);
    background: -ms-linear-gradient(top, #1079ad, #135b80);
    background: -webkit-linear-gradient(top, #1079ad, #135b80);
    background: -moz-linear-gradient(top, #1079ad, #135b80);
    background: linear-gradient(to bottom, #1079ad, #135b80);
    box-shadow: inset 0 -3px 0 #484848, inset 0 -3px 3px #484848, inset 0 2px 2px #b2b2b2, inset 1px 0 2px #484848, inset -1px 0 2px #b2b2b2, 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06), 0 3px 3px rgba(0, 0, 0, 0.17), 2px 1px 2px rgba(0, 0, 0, 0.05), -2px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

#instruction {
    grid-area: instruction;
    display: block;
    padding-top: 20px;
}

.import_btns {
    display: block;
    clear: both;
    background-color: #efefef;
    border: 5px solid #0e5376;
    border-radius: 40px;
    margin: 7px;
}

#responses {
    grid-area: responses;
}

#dimension {
    grid-area: dimension;
    transition: all 10s ease;
}

#description {
    grid-area: description;
    transition: all 10s ease;
}

.use_headings {
    margin: auto;
}

#use_headings_res {
    grid-area: use_h_res;
}

#use_headings_dim {
    grid-area: use_h_dim;
    transition: all 1s ease;
}

#use_headings_des {
    grid-area: use_h_des;
    transition: all 1s ease;
}

#but01 {
    grid-area: import_btn;
    display: flex;
    justify-content: center;
}

#iteration_sel {
    grid-area: iteration_sel;
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #0e5376;
}

#iteration_label {
    padding: 10px;
    border: 4px solid #0e5376;
    border-radius: 10px;
}

h3.names_buttons {
    color: #1ED344;
    padding-top: 10px;
}

#reset_btn {
    grid-area: reset_btn;
    display: flex;
    text-align: center;
    height: 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 20px;
    margin-top: 10px;
}

.clear_form {
    color: #0e5376 !important;
     font-size: 20px;
    font-weight: bold;
    background: #fff;
    border: 4px solid #0e5376;
    border-radius: 10px;
    transition: all 1s ease;
    width: 60%;
    text-align: center;
    font-size: 1em;
    color: #0e5376;
    transition: all .5s ease;
    padding: 7px;
}

#but01 {
    grid-area: import_btn;
    display: flex;
    justify-content: center;
}

.analize_btn {
    color: #fff !important;
    font-size: 20px;
    font-weight: bold;
    background: #0e5376;
    border: 4px solid #0e5376;
    border-radius: 10px;
    transition: all .5s ease;
    width: 200px;
    height: 50px;
    left: 400px;
}

.analize_btn:hover,
.clear_form:hover {
    background: #fff;
    color: #0e5376 !important;
    border-color: #0e5376;
}

.buttonsA1 {
    width: 40%;
    text-align: center;
    border: 1px solid #aaa;
}

/*Results page*/

/**Styles of the levels by colors for the final result**/

.level1,
.level2,
.level3,
.level4,
.level5,
.level6,
.level7 {
    font: bold;
}

.level1 {
    background-color: #FF7070;
}

.level2 {
    background-color: #FF8C75;
}

.level3 {
    background-color: #FF8B52;
}

.level4 {
    background-color: #FFCB52;
}

.level5 {
    background-color: #DCFF52;
}

.level6 {
    background-color: #DCF9E4;
}

.level7 {
    background-color: #B0F2C2;
}

/**styles for results table**/

#datos {
    font-size: 12px;
    text-align: center;
}

#questions {
    text-align: left;
}

.hidden {
    display: none;
}

/********************/

/****Footer Style****/

/********************/

footer {
    grid-area: footer_grid;
    display: grid;
    background-color: #0e5376;
    color: white;
    font-size: 12px;
    text-align: center;
    grid-template-areas: "footer_text icons";
    grid-template-columns: minmax(0%, 100%);
    margin-top: 10px;
}

.footer_text {
    grid-area: footer_text;
    display: flex;
    justify-content: center;
}

.icons {
    display: flex;
    grid-area: icons;
    color: white;
    font-size: 30px;
	justify-content: flex-end;
	padding-top: 10px;
}

.icon-github,
.icon-twitter {
    text-decoration: none;
    color: white;
    padding-right: 15px;
}

/***CSS ITERATION SELECT***/

.select {
    display: inline;
    /*margin-bottom: 10px;*/
}

.select select {
    display: inline;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding: 8px 10px;
    outline: 0;
    border: 4px solid #035376;
    border-radius: 10px;
    background: #Efefef;
    color: #0e5376;
    transition: all 1s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: #FFFFFF;
    background: #0E5376;
    border-color: #fff;
}

.select select:disabled {
    opacity: 0.4;
    pointer-events: none;
}

option {
    background: #fff;
    border: 10px solid #0E5376;
    border-radius: 10px;
    color: #0E5376;
}

.celda {
    color: #000000;
    background-color: #c2c2d6;
}

.celda-blue {
    color: #000000;
    background-color: #0066cc;
}

/*
  Estilos propios by Rosana
*/

#celda {
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
    border-collapse: collapse;
    width: 80%;
    border:"0";
}

#celda td,
#celda th {
    border: 1px solid #ddd;
    padding: 2px;
}

.td_import {
    text-align: center;
}

#celda tr:nth-child(even) {
    background-color: #f2f2f2;
}

#celda tr:hover {
    background-color: #ddd;
}

#celda th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #0e5376;
    background: #0e5376;
    background: -o-linear-gradient(top, #1079ad, #135b80);
    background: -ms-linear-gradient(top, #1079ad, #135b80);
    background: -webkit-linear-gradient(top, #1079ad, #135b80);
    background: -moz-linear-gradient(top, #1079ad, #135b80);
    background: linear-gradient(to bottom, #1079ad, #135b80);
    box-shadow: inset 0 -3px 0 #484848,
    inset 0 -3px 3px #484848,
    inset 0 2px 2px #b2b2b2,
    inset 1px 0 2px #484848,
    inset -1px 0 2px #b2b2b2,
    0 1px 1px rgba(0, 0, 0, 0.1),
    0 2px 2px rgba(0, 0, 0, 0.06),
    0 3px 3px rgba(0, 0, 0, 0.17),
    2px 1px 2px rgba(0, 0, 0, 0.05),
    -2px 1px 2px rgba(0, 0, 0, 0.05);
    color: white;
    
}

#cell_iteration {
    text-align: left;
}
