@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

html {
	background-color: #4F4C4D;
}
body {
	width: 100%;
	margin: 0 auto;
	
	text-align: center;
	background-color: #fff;
}

footer {
            color: white;
            position: relative;
            height: 40px;
            padding:5px 0px;
            clear: both;
            background: #4F4C4D;
            text-align: left;
            font-size: 10px;
            display: inline-block;
            width: 100%;
        }	

.footer{
	display: inline;
}
.dataTables_wrapper{
	width: 90%;
	margin: auto;
}

.texto_sombra{
	color: white;
	/*font-size: 25px; */
	text-shadow: black 0.1em 0.1em 0.2em

}

.iconos{
	color: white;
	margin-top: 5px;
	margin-right: 20px;
	display: inline-block;
	font-size: 25px;
	float: right;
}


.iconos_redes{
	background-color: #CB2C30;
	height: 40px;
}

#logo_ugr {
	
background: rgba(232,233,233,0.81);
background: -moz-linear-gradient(top, rgba(232,233,233,0.81) 0%, rgba(145,153,149,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(232,233,233,0.81)), color-stop(100%, rgba(145,153,149,1)));
background: -webkit-linear-gradient(top, rgba(232,233,233,0.81) 0%, rgba(145,153,149,1) 100%);
background: -o-linear-gradient(top, rgba(232,233,233,0.81) 0%, rgba(145,153,149,1) 100%);
background: -ms-linear-gradient(top, rgba(232,233,233,0.81) 0%, rgba(145,153,149,1) 100%);
background: linear-gradient(to bottom, rgba(232,233,233,0.81) 0%, rgba(145,153,149,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e9e9', endColorstr='#919995', GradientType=0 );

padding: 5px;
	
}

.left{
	display: inline-block;
	float: left;
}

.right{
	display: inline-block;
	float: right;
}



#bloque {
	width: 30%;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 25px;
	border: 1px solid #F40303;
}

table#niveles {
    /*border: 1px solid #000;*/
    width: 90%;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.nivel1 {
	background-color: darkred;
	color: #FFFFFF;
}
.nivel2 {
	background-color: red;
	color: #FFFFFF;
}
.nivel3 {
	background-color: orange;
	color: #FFFFFF;
}

.nivel4 {
	background-color: yellow;
	color: #FFFFFF;
}

.nivel5 {
	background-color: greenyellow;
	color: #FFFFFF;

}

.nivel6 {
	background-color: lawngreen;
	color: white;
}

.nivel7 {
	background-color: green;
	color: white;
	
}


input#rango {
    width: 80%;
}
.oculto {
	display: none;
}