@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

html {
	background-color: #4F4C4D;
}

body {
	width: 100%;
	margin: 0 auto;

	text-align: center;
	background-color: #fff;
}


div.encabezado{
	background-color: #E2E2E2;
}

#titulo{
	max-width: 55%;
	margin: auto;
}

#logos{
	max-width: 100%;
}

footer {
      color: white;
      position: relative;
      height: 40px;
      padding:5px 0px;
      clear: both;
      background: #4F4C4D;
      text-align: left;
      font-size: 10px;
      display: inline-block;
      width: 100%;
      }

.footer{
	display: inline;
}

.dataTables_wrapper{
	width: 90%;
	margin: auto;
	}

.menu ul{
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}

.menu li:hover{
	background: rgba(0,0,0,0.3);
}

.menu li a{
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}


.iconos{
	color: white;
	margin-top: 10px;
	margin-right: 20px;
	display: inline-block;
	font-size: 25px;
	float: right;
}


.iconos_redes{
	background-color: #CB2C30;
	height: 50px;
}

.bloque {
	width: 30%;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 25px;
}



#preguntas{
	max-width: 350px;
}
#score{
	min-width: 80px;
}

table#niveles {
    /*border: 1px solid #000;*/
    width: 90%;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 5px;

}

.nivel1 {

	background-color: #FFB6AE;
	font: bold;
	width: 100px;
}
.nivel2 {
	background-color: #FFE1AE;
		font: bold;
		width: 100px;
}
.nivel3 {
	background-color: #FFF4E1;
	font: bold;
	width: 100px;
}

.nivel4 {
	background-color: #FDFEE0;
	font: bold;
	width: 100px;
}

.nivel5 {
	background-color: #FAFCAF;
	font: bold;
	width: 100px
}

.nivel6 {
	background-color: #DCF9E4;
	font: bold;
	width: 100px
}

.nivel7 {
	background-color: #B0F2C2;
	font: bold;
	width: 100px
}


.texto_sombra{
	color: #1B0B7C;

}

input#rango {
    width: 85%;
}

.oculto {
	display: none;
}

/*botones de consenso*/

#consensus{
	display: block;
	margin-left: 5%;
	width: 5%;
}

#consistency{
	display: block;
}

#Total_score{
	display: block;

	margin-left: 5%;
	width: 15%;
}




.filtros_2{
		display: flex;
}





.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 150px;

}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 16px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 160px;

}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.blue    { background-color: #81BEF7; }
